name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/pojiro/giocci_zenohd:1.7.1
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v4

      - name: Cache deps and build
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ env.MIX_ENV }}-${{ hashFiles('.tool-versions') }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.MIX_ENV }}-${{ hashFiles('.tool-versions') }}-
            ${{ runner.os }}-mix-

      - name: Prepare mix
        run: |
          mix local.hex --force
          mix local.rebar --force

      - name: Install dependencies
        run: mix deps.get

      - name: Run tests
        run: |
          zenohd &
          mix test

  code-analysis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      MIX_ENV: dev
    steps:
      - uses: actions/checkout@v4

      - name: Set up BEAM
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict

      - name: Cache deps and build
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ env.MIX_ENV }}-${{ hashFiles('.tool-versions') }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.MIX_ENV }}-${{ hashFiles('.tool-versions') }}-
            ${{ runner.os }}-mix-

      - name: Prepare mix
        run: |
          mix local.hex --force
          mix local.rebar --force

      - name: Install dependencies
        run: mix deps.get

      - name: format
        run: mix format --check-formatted

      - name: credo
        run: mix credo

      - name: dialyzer
        run: mix dialyzer
